.FormSchedule {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
    overflow-x: scroll;
    padding: 10px;
    height: 1500px;
}
.schedule{
    width: 236px;
    height: 450px;
    padding: 10px;
    max-height: 450px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.schedule-Header {
    display: flex;
    text-decoration: dotted;
    align-items: center;
}
.schedule-Body_edit {
    margin-left: 10px;
    border: #efdbbf solid;
    width: 13%;
    margin-top: 7px;
    border-radius: 7px;
    text-decoration: none;
}
.schedule-Body_edit{
    transition: all ease-in-out;
}
.schedule-Body_Item:hover {
    background-color: rgb(180, 232, 232);
    cursor: pointer;
    transition-duration: .3s;
    transform: scale(1.1);
   
}
.schedule-Body {
   
}


      body {
      padding: 0;
      margin: 0;
      font-family: "Nunito Sans";
      background-color: #F4BE2C;
      }
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
      }
      p{
      margin: 0;
      text-transform: capitalize;
      font-weight: bold;
      }
      th{
      padding: 10px !important;
      }
      .table{
      margin-bottom: 0px;
      }
      .dropdown-toggle{
      background-color: #fff;
      }
      .table>:not(caption)>*>*{
      border-color: #F4BE2C;
      vertical-align: middle;
      white-space: nowrap;
      }
      .table>:not(:first-child){
      border-top:#F4BE2C;
      }
      .table>thead{
      background-color:#F4BE2C;
      color: #fff;
      }
      .row{
      align-items: center;
      }
      .form-control {
      line-height: 2;
      border: 1px solid #ddd;
      border-radius: 2px;
      }
      .form-control:focus{
      box-shadow: none;
      border-color:#F4BE2C;
      }
      .form-check-input:checked{
      background-color: #F4BE2C;
      border-color: #F4BE2C;
      }
      .form-check-input:focus{
      box-shadow: none;
      }
      .form-control:hover{
      border-color: #F4BE2C;
      }
      .bg-custom {
      border: 1px solid #F4BE2C;
      }
      .btn-custom {
      border-color: #F4BE2C;
      color: #F4BE2C;
      }
      .btn-custom:hover {
      background-color: #F4BE2C;
      color: #fff;
      box-shadow:0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
      }
      .row.m-0{
      border-bottom: 1px solid #f4be2b;
      margin-bottom: 15px !important;
      background: #f4be2b;
      font-weight: 600;
      color: #fff;
      }
      .row.mb-2{
      margin: 0;
      }
      .col-lg-4 p{
      font-size: 12px;
      }
      
      @media(max-width: 992px) {
      form{
      width: 80%;
      }
      }
      @media(max-width: 575px) {
      form{
      width: 100%;
      }
      }
